@media screen and (min-width: 1432px) {  
    .sec2, .sec3, .sec4, .sec5 {
        padding: 7rem 12rem;
    }
}


@media screen and (max-width: 1432px) {
    // * {
    //         border: solid 2px yellow;
    // }
    
        
    header {
        padding: 0 !important;
    }
    
    .section {
        padding: 7rem 10rem;
    }

    .contact-section {
        padding: 7rem 10.5rem;
    }
       
}


@media screen and (max-width: 1343px) and (min-width: 1070px) {
    .port-text {
        margin-top: 3rem;
    }
}

    
@media screen and (max-width: 1280px) {
    .section {
        padding: 7rem 9rem;
    }
}
    

@media screen and (min-width: 1125px) {
    .right-header {
        padding-right: 12rem !important;
        margin-left: -3.5rem;
    }
}

@media screen and (min-width: 971px) and (max-width: 1125px) {
    .right-header {
        margin-left: -3.5rem;
        padding-right: 8rem !important;
    }
}

@media screen and (min-width: 1070px) and (max-width: 1333px) {
    .about-container {
        margin-top: 2rem;
    }
}
    
@media screen and (max-width: 1070px) {
    // * {
    //     border: solid 2px red;
    // }
        
    
    .contact-content-con {
        flex-direction: column;
        padding: 0 2rem;
        margin-top: 2rem;
        .left-contact {
            width: 100%;
        }
        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;
            .ic2 {
                flex-direction: column;
                :last-child {
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }
        }
        }
        .about-container {
            grid-template-columns: 1fr;
            .right-about {
                padding-top: 2.5rem;
            }
        }

        .blog-container, .portfolios {
            grid-template-columns: 1fr 1fr;
        }

        .main-title {
            h2 {
                font-size: 4rem;
                span {
                    font-size: 4rem;
                }
                .bg-text {
                    font-size: 4.5rem;
                }
            }
        }

        .contact {
            margin: 3rem 0 0 0;
            i {
                font-size: 1.2rem;
                height: 2rem;
                width: 2rem;
                opacity: .9;
            }
        }
    }

@media screen and (max-width: 970px) {
    // * {
    //         border: solid 2px white;
    // }
    
    .section {
        padding: 7rem 6rem;
    }

    header {
        padding: 0;
        .right-header{
            padding: 0 !important;
        }
    }

    .theme-btn {
        width: 50px;
        height: 50px;
    }

    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    
    .left-header {
        padding: 0 0rem;
        .h-shape {
            display: none;
        }

        .image {
            margin: 0 auto !important;
            margin-left: 20rem;
            width: 90%;
        }
    }
    
    .right-header {
        grid-row: 1;
        width: 75%;
        margin: 2rem auto;
        .name {
            font-size: 2.5rem !important;
        }
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control {
            margin: .6rem 1rem !important;
        }
    }

    .expanded-blog-container {
        .blog {
            margin: 12rem 5rem;
            width: 70%;
        }
    }
}

@media screen and (max-width: 730px) {
    .certificate {
        padding: .8rem .4rem !important;
    }
}

@media screen and (max-width: 700px) {
    // * {
    //         border: solid 2px violet;
    // }

    .section {
        padding: 7rem 3rem;
    }
    
    .about-stats {
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }
    
    .main-title {
        h2 {
            font-size: 3rem;
            span {
                font-size: 3rem;
            }
            .bg-text {
                font-size: 4rem;
            }
        }
    }

    .expanded-blog-container {
        .blog {
            width: 79%;
        }
    }
}

@media screen and (max-width: 600px) {
    // * {
    //     border: solid 2px green;
    // }

    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about {
            padding-right: 0;
            p {
                padding-left: 0;
            }
        }
    }

    .timeline {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .blog-container, .portfolios {
        grid-template-columns: 1fr;
    }

    .section {
        padding: 2rem 2.5rem;
    }

    .contact-container {
        margin-bottom: 4rem;
    }

    .portfolios {
        padding-bottom: 8rem;
    }

    .main-title {
        h2 {
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text {
                font-size: 3rem;
            }
        }
    }

    .expanded-blog-container {
        .blog {
            margin: 12rem 0;
            width: 95%;
        }
    }

    #blogs {
        padding-bottom: 8rem;
    }
}

@media screen and (max-width: 450px) {
    .controls {
        .control {
            width: 45px;
            height: 45px;
            margin: .6rem 2.6vw !important;
        }
    }
    .contact-content-con {
        padding: 0;
    }

    .home-contact {
        gap: .9rem;
        i {
            width: 2.7rem;
            height: 2.7rem;
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 430px) {
    .skill {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 410px) {
    .home-contact {
        gap: .8rem;
        i {
            width: 2.6rem;
            height: 2.6rem;
        }
    }
}

@media screen and (max-width: 387px) {
    .bg-text {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 375px) {
    .home-contact {
        margin-left: -.7rem;
    }
}